.banner {
  background-image: url('../../assets/img/products/banner/banner\ 1.jpg');
  background-attachment: fixed;
  width: 100%;
  height: 400px;
  // box-shadow: 1px 1px 5px 1px rgb(56, 56, 56);
  margin-bottom: 30px;
  h1 {
    text-align: center;
    color: white;
    padding-top: 8%;
    font-weight: 700;
    position: sticky;
    top: 40px;
  }
}

.allProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  width: 80%;
  margin: 0 auto;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: white;
    }
  }
  .product {
    padding: 1px;
    position: relative;
    .img {
      img:nth-child(2) {
        display: none;
      }
      img:nth-child(3) {
        display: none;
      }
    }
    .text {
      text-align: center;
      background-color: #b6b6b6;
      button {
        display: none;
        border: 0;
        outline: none;
        margin-bottom: 5px;
        background-color: #b6b6b600;
        font-weight: 500;
        position: absolute;
        margin-left: 20px;
        top: 260px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 700;
      }
    }
    .page2 {
      display: none;
    }
    &:hover {
      img:nth-child(1) {
        display: none;
      }
      img:nth-child(2) {
        display: block;
      }
      button {
        display: block;
      }
    }
  }
}
// Detail Products

.productDetail {
  display: flex;
  margin-bottom: 20px;
  .imgDetail {
    width: 40%;
    display: flex;
    margin: auto;
    img {
      width: 100%;
    }
    .imgBottom {
      width: 30%;
      display: block;
      margin: auto;
      img {
        padding: 1px;
      }
      .img2 {
        img:nth-child(2),
        img:nth-child(3) {
          opacity: 0.7;
        }
      }
    }
  }
  .contentDetail {
    width: 40%;
    margin: 0 auto;
    h1 {
      margin-top: 20px;
    }
    h3 {
      margin-top: 20px;
      color: red;
      margin-left: 20px;
    }
    .size {
      margin: 30px 0 0 0;
      button {
        padding: 10px 20px;
        margin: 3px;
        &.active{
          background-color: black;
          color:white;
        }
      }

    }
    .cart {
      display: flex;
      .addtocart {
        margin: 20px 0 0 0;
        button {
          padding: 10px 20px;
          margin: 3px;
        }
      }
      .viewCart {
        margin: 20px 0 0 20px;
        button {
          padding: 10px 20px;
          margin: 3px;
        }
      }
    }
    .amount {
      margin-top: 10px;
      input {
        margin: 10px;
        width: 70px;
      }
    }
    .content {
      border-top: 1px solid;
      border-bottom: 1px solid;
      margin: 20px 20% 0 0;

      h6 {
        padding: 15px 0 10px 20px;
        font-weight: 500;
        cursor: pointer;
      }
      p {
        padding: 10px;
        display: none;
      }
      &:hover {
        p {
          display: block;
        }
      }
    }
  }
}

// add to cart

.addToCartClick {
  position: fixed;
  top: 130px;
  right: 50px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.907);
  color: white;
  display: none;
  border-radius: 5px;
  h5 {
    padding: 13px 10px 5px 10px;
  }
  img {
    width: 30px;
  }
}

//
.bgTop {
  width: 100%;
  height: 45px;
  background-color: rgb(9, 9, 9);
  position: fixed;
  top:0;
}
// CART

.detailCart {
  min-height: 52.5vh;
  .cartNull{
    position: relative;
    // img{
    //   margin-top: 45px;
    //   width:99.6vw;
    //   height:95.3vh;
      
    // }
    .textCartNull{
      position: absolute;
      top: 200px;
      left:200px;
      font-size: 40px;
      font-weight: 500;
      
    }
  }
  .left {
    margin-top: 120px;
    display: block;
    width: 50%;
    
    .contentProductCart {
      width: 65%;
      margin: 10px auto;
      display: flex;
      border-top: 1px solid;
      border-bottom: 1px solid;
      .detailCartMini {
        width: 90%;
        display: flex;
        .imgCart {
          width: 20%;
          padding: 10px 0;
          margin-left: 20px;
          img {
            width: 80%;
          }
        }
        .detailProductCart {
          padding-top: 10px;

          width: 70%;
          div {
            input {
              width: 30%;
              padding-left: 10px;
            }
            button {
              img {
                width: 12px;
                margin: auto;

                padding-bottom: 3px;
              }
              border: 0;
              outline: none;
              background-color: #b6b6b600;
            }
          }
        }
      }
    }
    .imgClose {
      .fa-solid{
        cursor: pointer;
        // width:100px;
        // height:100px;
      }
    }
  }
  .right {
    width: 50%;
    margin-top: 80px;
    position: fixed;
    top: 0;
    right: 100px;

    h1 {
      text-align: center;
    }
    .infoUserCart {
      width: 60%;
      margin: auto;
      display: block;
      input {
        width: 100%;
        margin: 10px;
        padding: 5px 10px;
        border: none;

        outline: none;
        border-bottom: 1px solid;
      }
    }
    .total {
      height: 100px;
      .totalPrices {
        width: 50%;
        display: flex;
        padding: 10px;
        margin-left: 20px;
        margin: auto;
        font-weight: 500;
        justify-content: space-between;
        p {
          margin: auto;
          span {
            color: red;
          }
        }
      }
      button {
        display: flex;
        margin: 10px auto;
        border: none;
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 0 black;
      }
    }
  }
}
// order confirmation
.order-confirmation{
  display: none;
  position: fixed;
  top:45px;
  left:0;
  right:0;
  bottom: 0;
  background-color: #f9f9f965;
  z-index: 10;
  
  .content-confirm{
    position: fixed;
    top:198px;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    box-shadow:1px 1px 30px #2f2f2f;
    // transition: all 1s ease-in-out;
    .left{
      padding-left: 20px;
      padding-top: 20px;
      background-color: #000000;
      color: white;
      width:350px;
      height:500px;
      a{
        color:white;
        font-weight: 700;
        float: left;
        margin: 260px 0 0 180px;
      }
    }
    .right{
    
      color: black;
      width:500px;
      height:500px;
      margin: auto 0;
      
      .top{
        background-color: #080606ea;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        // border-top:2px solid rgb(0, 0, 0) ;
        // border-right: 5px solid rgb(0, 0, 0);
      }
      .bottom{
        background-color: white;
        height:445px;
        padding-left: 20px;
        padding-top: 20px;
        .pay{

          div{
            display:flex;
            p{
              margin: auto 5px;
            }
          }
          .imgPay{
            display: none;
            
            img:first-child{
              width:50px;
              height:50px;
              // height:80px;
            }
            img{
              margin: auto 10px;
              width:100px;
              height:100px;
              transform: translateY(-20px);
              cursor: pointer;
            }
          }
        }
        .checkPay{
          border-color: #2f2f2f;
          position: absolute;
          top:220px;
          width:340px;
          height:260px;
          p{
            margin-top: 10px;
            color:red;
            font-weight: 500;
          }
          img{

            width:60%;
            display:none;
            &.active{
              display: block;
            }
          }
          
        }
        
        button {
          position:fixed;
          top:425px;
          right:30px;
          border: none;
          background-color: black;
          color: white;
          padding: 10px;
          border-radius: 5px;
          box-shadow: 1px 1px 5px 0 black;
        }
      }
    }
  }
  
}