.banner {
  background-image: url(../img/products/banner/banner\ 1.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}
.banner h1 {
  text-align: center;
  color: white;
  padding-top: 8%;
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}

.allProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 10px auto 0 auto;
}
.allProducts a {
  text-decoration: none;
  color: black;
}
.allProducts a:hover {
  color: white;
}
.allProducts .product {
  padding: 1px;
  position: relative;
}
.allProducts .product .img img:nth-child(2) {
  display: none;
}
.allProducts .product .img img:nth-child(3) {
  display: none;
}
.allProducts .product .text {
  text-align: center;
  background-color: #b6b6b6;
}
.allProducts .product .text button {
  display: none;
  border: 0;
  outline: none;
  margin-bottom: 5px;
  background-color: rgba(182, 182, 182, 0);
  font-weight: 500;
  position: absolute;
  margin-left: 20px;
  top: 260px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
}
.allProducts .product .page2 {
  display: none;
}
.allProducts .product:hover img:nth-child(1) {
  display: none;
}
.allProducts .product:hover img:nth-child(2) {
  display: block;
}
.allProducts .product:hover button {
  display: block;
}

.sliderAllProduct {
  margin: auto 10%;
  overflow: hidden;
}
.sliderAllProduct .allProducts {
  display: flex;
  width: 160%;
  margin: 10px auto 0 auto;
}
.sliderAllProduct .allProducts a {
  text-decoration: none;
  color: black;
}
.sliderAllProduct .allProducts a:hover {
  color: white;
}
.sliderAllProduct .allProducts .product {
  padding: 1px;
  position: relative;
}
.sliderAllProduct .allProducts .product .img img {
  width: 100%;
}
.sliderAllProduct .allProducts .product .img img:nth-child(2) {
  display: none;
}
.sliderAllProduct .allProducts .product .img img:nth-child(3) {
  display: none;
}
.sliderAllProduct .allProducts .product .text {
  text-align: center;
  background-color: #b6b6b6;
}
.sliderAllProduct .allProducts .product .text button {
  display: none;
  border: 0;
  outline: none;
  margin-bottom: 5px;
  background-color: rgba(182, 182, 182, 0);
  font-weight: 500;
  position: absolute;
  margin-left: 20px;
  top: 260px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
}
.sliderAllProduct .allProducts .product .page2 {
  display: none;
}
.sliderAllProduct .allProducts .product:hover img:nth-child(1) {
  display: none;
}
.sliderAllProduct .allProducts .product:hover img:nth-child(2) {
  display: block;
}
.sliderAllProduct .allProducts .product:hover button {
  display: block;
}

.Women .product {
  display: none;
}
.Women .women {
  display: block;
}

.Men .product {
  display: none;
}
.Men .men {
  display: block;
}

.Accessories .product {
  display: none;
}
.Accessories .accessories {
  display: block;
}

.productDetail {
  display: flex;
  margin-bottom: 20px;
}
.productDetail .imgDetail {
  width: 40%;
  display: flex;
  margin: auto;
}
.productDetail .imgDetail img {
  width: 100%;
}
.productDetail .imgDetail .imgBottom {
  width: 30%;
  display: block;
  margin: auto;
}
.productDetail .imgDetail .imgBottom img {
  padding: 1px;
}
.productDetail .imgDetail .imgBottom .img2 img:nth-child(2), .productDetail .imgDetail .imgBottom .img2 img:nth-child(3) {
  opacity: 0.7;
}
.productDetail .contentDetail {
  width: 40%;
  margin: 0 auto;
}
.productDetail .contentDetail h1 {
  margin-top: 20px;
}
.productDetail .contentDetail h3 {
  margin-top: 20px;
  color: red;
  margin-left: 20px;
}
.productDetail .contentDetail .size {
  margin: 30px 0 0 0;
}
.productDetail .contentDetail .size button {
  padding: 10px 20px;
  margin: 3px;
}
.productDetail .contentDetail .cart {
  display: flex;
}
.productDetail .contentDetail .cart .addtocart {
  margin: 20px 0 0 0;
}
.productDetail .contentDetail .cart .addtocart button {
  padding: 10px 20px;
  margin: 3px;
}
.productDetail .contentDetail .cart .viewCart {
  margin: 20px 0 0 20px;
}
.productDetail .contentDetail .cart .viewCart button {
  padding: 10px 20px;
  margin: 3px;
}
.productDetail .contentDetail .amount {
  margin-top: 10px;
}
.productDetail .contentDetail .amount input {
  margin: 10px;
  width: 70px;
}
.productDetail .contentDetail .content {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 20px 20% 0 0;
}
.productDetail .contentDetail .content h6 {
  padding: 15px 0 10px 20px;
  font-weight: 500;
  cursor: pointer;
}
.productDetail .contentDetail .content p {
  padding: 10px;
}

.addToCartClick {
  position: fixed;
  top: 130px;
  right: 50px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.907);
  color: white;
  display: none;
  border-radius: 5px;
}
.addToCartClick h5 {
  padding: 13px 10px 5px 10px;
}
.addToCartClick img {
  width: 30px;
}

.bgTOP {
  width: 100%;
  height: 45px;
  background-color: black;
}

.detailCart {
  display: flex;
  width: 80%;
  margin: 100px auto;
  min-height: 37vh;
}
.detailCart .left {
  display: block;
  width: 50%;
}
.detailCart .left .contentProductCart {
  width: 65%;
  margin: 10px auto;
  display: flex;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.detailCart .left .contentProductCart .detailCartMini {
  width: 90%;
  display: flex;
}
.detailCart .left .contentProductCart .detailCartMini .imgCart {
  width: 30%;
  padding: 10px 0;
  margin-left: 20px;
}
.detailCart .left .contentProductCart .detailCartMini .imgCart img {
  width: 80%;
}
.detailCart .left .contentProductCart .detailCartMini .detailProductCart {
  padding-top: 10px;
  width: 70%;
}
.detailCart .left .contentProductCart .detailCartMini .detailProductCart div input {
  width: 30%;
  padding-left: 10px;
}
.detailCart .left .contentProductCart .detailCartMini .detailProductCart div button {
  border: 0;
  outline: none;
  background-color: rgba(182, 182, 182, 0);
}
.detailCart .left .contentProductCart .detailCartMini .detailProductCart div button img {
  width: 12px;
  margin: auto;
  padding-bottom: 3px;
}
.detailCart .left .imgClose img {
  width: 18px;
  margin: 20px 20px;
  cursor: pointer;
}
.detailCart .right {
  width: 50%;
  margin-top: 80px;
  position: fixed;
  top: 0;
  right: 100px;
}
.detailCart .right h1 {
  text-align: center;
}
.detailCart .right .infoUserCart {
  width: 60%;
  margin: auto;
  display: block;
}
.detailCart .right .infoUserCart input {
  width: 100%;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid;
}
.detailCart .right .total {
  height: 100px;
}
.detailCart .right .total .totalPrices {
  width: 50%;
  display: flex;
  padding: 10px;
  margin-left: 20px;
  margin: auto;
  font-weight: 500;
  justify-content: space-between;
}
.detailCart .right .total .totalPrices p {
  margin: auto;
}
.detailCart .right .total .totalPrices p span {
  color: red;
}
.detailCart .right .total button {
  display: flex;
  margin: 10px auto;
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 black;
}/*# sourceMappingURL=products.css.map */